* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.todo-container,
.todo-check-btn,
.todo-remove-btn {
  display: flex;
  cursor: pointer;
}

.todo-container {
  position: relative;
}

.todo-body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.todo-body.checked {
  text-decoration: line-through;
}

.todo-check-btn.checked::after {
  content: '✅';
}

.collapsed {
  display: none;
}

.collapse-btn {
  position: absolute;
  right: 100%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}

.collapse-btn.active-collapse {
  transform: rotate(0deg);
}
