/* #todo-detail-dialog {
    display: flex;
    flex-direction: column;
} */

button {
  cursor: pointer;
}

#detail-header {
  display: flex;
  justify-content: space-between;
}

#diag-container {
  display: flex;
}

#main-part,
#option-part,
#main-todo {
  display: flex;
  flex-direction: column;
}

.diag-todo-container {
  display: flex;
}

#diag-todo-item {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

#diag-todo-title,
#diag-todo-desc,
.cursor-wrapper-todo {
  min-width: 100%;
  cursor: pointer;
}

#main-part {
  width: 70%;
}

#option-part {
  width: 30%;
}

.block {
  cursor: not-allowed;
  pointer-events: none;
}

#diag-todo-item.checked {
  text-decoration: line-through;
}

#todo-check-btn.checked::after {
  content: '✅';
}