.sidebar-list-item,
.sidebar-project-btn {
    display: flex;
    cursor: pointer;
}

.sidebar-svg-container {
    width: 24px;
    height: 24px;
}

.sidebar-project-title {
    text-align: left;
    width: 100%;
}