/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {}

body {
    min-width: 100%;
    min-height: 100%;
}

#app {
    display: flex;
    min-width: 100%;
    min-height: 100%;
}

#menu {
    display: flex;
    flex-direction: column;
}

#project-list {
    display: flex;
    flex-direction: column;
}

.sidebar-list-item,
.sidebar-project-btn,
.todo-container,
.todo-check-btn,
.todo-remove-btn {
    display: flex;
    cursor: pointer;
}

.diag-todo-container, .section-header-container, .project-filters {
    display: flex;
}

.section-header-container {
    justify-content: space-between;
    align-items: center;
}

.sidebar-svg-container {
    width: 24px;
    height: 24px;
}

.sidebar-project-title {
    text-align: left;
    width: 100%;
}

.todo-item,
.todo-list,
.diag-todo-item {
    display: flex;
    flex-direction: column;
}

.todo-item.checked, .diag-todo-item.checked {
    text-decoration: line-through;
}

.todo-check-btn.checked::after {
    content: "✅";
}

.todo-form,
.section-form {
    display: flex;
    flex-direction: column;
}

.todo-other {
    display: flex;
    gap: 6px;
}

.form-options {
    display: flex;
}

.tag {
    margin-right: 5px;
}

.todo-container[data-indent="2"] {
    margin-left: 28px;
}

.todo-container[data-indent="3"] {
    margin-left: 56px;
}

.todo-container[data-indent="4"] {
    margin-left: 84px;
}

.todo-container[data-indent="5"] {
    margin-left: 112px;
}

.todo-container.diag-indent {
    margin-left: 28px;
}

.todo-item {
    min-width: 100%;
}

body:has(dialog[open]) {
    overflow: hidden;
}

#menu,
#todo-dialog {
    user-select: none;
}

.form-control-btns {
    display: flex;
}

.tag-list {
    display: flex;
}

.custom-select-extra-opt {
    position: relative;
    display: inline-block;
}

.select-project-btn, 
.select-section-btn {
    padding: 0px 2px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}

.select-project-btn:hover, 
.select-section-btn:hover {
    background-color: rgba(82, 98, 99, 0.575);
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.options.hidden {
    display: none;
}

.option {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: #fff;
    border: none;
    cursor: pointer;
}

.option:hover {
    background: #f0f0f0;
}

/*style="transform: translate(0px, 0px); opacity: 1;" - dialog*/